mixin sExamples(data)
	// start sExamples
	+b.SECTION.sExamples.section#sExamples&attributes(attributes)
		.container
			+b.section-title-base
				h2 Примеры поставок
				p Реальные КП&nbsp;под разные задачи наших заказчиков
			mixin sExamplesItem(i, t, p)
				+e.item-wrap
					+e.item
						+e.row.row
							.col-sm-auto
								+e.img-wrap(href=`img/@2x/sExamples-${i}.jpg` data-fancybox="sExamples")
									+pic(`sExamples-${i}.jpg`)
							.col-sm
								+e.text
									p!= t
							.col-lg-auto
								+e.footer
									p!= p
									+e.btn-order.btn.btn-primary(href="#") Заказать
			div
				+sExamplesItem(1, `Объект: территория базы по&nbsp;периметру оборудован охранной сигнализацией, необходимо каждую сторону (их&nbsp;4) озвучить речевым сообщением,ранее записанным,оповещение должно включаться по&nbsp;каждой стороне отдельно, Все оповещение уличное, всепогодное, желательно несколько вариантов, длинна каждого участка 300м.`, `441 224 ₽`)
				+sExamplesItem(1, `В&nbsp;Аппарат Государственной Думы, в&nbsp;приемную, где граждане ждут своей очереди необходима система оповещения по&nbsp;громкоговорящей связи. То&nbsp;есть чтобы были колонки, микрофон, и&nbsp;все это под ключ естественно с&nbsp;установкой.`, `135 700 ₽`)
				+sExamplesItem(1, `Требуется оборудование для фонового звукового сопровождения в&nbsp;нескольких помещениях (3, 4, 5, 8 ), также нужна трансляция в&nbsp;классах обучения 11&nbsp;и&nbsp;12, которые могут быть объединены в&nbsp;1&nbsp;помещение (мобильная перегородка). Подробнее по&nbsp;телефону.`, `200 020 ₽`)
				+sExamplesItem(1, `Объект: территория базы по&nbsp;периметру оборудован охранной сигнализацией, необходимо каждую сторону (их&nbsp;4) озвучить речевым сообщением,ранее записанным,оповещение должно включаться по&nbsp;каждой стороне отдельно, Все оповещение уличное, всепогодное, желательно несколько вариантов, длинна каждого участка 300м.`, `441 224 ₽`)
				+sExamplesItem(1, `В&nbsp;Аппарат Государственной Думы, в&nbsp;приемную, где граждане ждут своей очереди необходима система оповещения по&nbsp;громкоговорящей связи. То&nbsp;есть чтобы были колонки, микрофон, и&nbsp;все это под ключ естественно с&nbsp;установкой.`, `135 700 ₽`)
				+sExamplesItem(1, `Требуется оборудование для фонового звукового сопровождения в&nbsp;нескольких помещениях (3, 4, 5, 8 ), также нужна трансляция в&nbsp;классах обучения 11&nbsp;и&nbsp;12, которые могут быть объединены в&nbsp;1&nbsp;помещение (мобильная перегородка). Подробнее по&nbsp;телефону.`, `200 020 ₽`)
			+e.btn-wrap
				+e.BUTTON.btn.btn.btn-primary Показать еще
			
	// end sExamples