mixin sSave(data)
	// start sSave
	+b.SECTION.sSave.section#sSave&attributes(attributes)
		.container
			+b.section-title
				h2 Сэкономьте до&nbsp;30% бюджета
				p на&nbsp;закупке оборудования для систем оповещения и&nbsp;трансляции
			.row
				mixin sSaveItem(i, h, ...items)
					.col-lg-4
						+e.item
							+icon(`sWorkPackage-${i}`)
							+e.content
								h6!= h
								each item in items
									p!= item
				+sSaveItem(1, `Эксклюзивные скидки <br> у&nbsp;поставщиков производителей`, `За&nbsp;12&nbsp;лет мы&nbsp;заработали себе репутацию и&nbsp;эксклюзивные скидки у&nbsp;поставщиков и&nbsp;производителей оборудования.`, `И&nbsp;теперь можем предложить Вам качественное оборудование с&nbsp;хорошими скидками!`)
				+sSaveItem(2, `Огромный <br> ассортимент аналогов`, `Более&nbsp;15.000 единиц оборудования от&nbsp;почти 200 брендов позволяют подобрать достойные аналоги любого дорогостоящего оборудования.`, `Вы&nbsp;получите те&nbsp;же возможности и&nbsp;качество, что и&nbsp;у&nbsp;премиального оборудования, но&nbsp;по&nbsp;более низкой цене.`)
				+sSaveItem(3, `Бесплатная доставка <br> по&nbsp;Москве и&nbsp;России`, `Собственная логистическая служба дает возможность организовать оперативную и&nbsp;бесплатную доставку Вашего заказа как по&nbsp;Москве, так и&nbsp;в&nbsp;любой регион РФ.`, `Доставка бесплатно при сумме заказа всего от&nbsp;100.000р`)
			+e.footer
				h3 В&nbsp;этом уже убедились:
				+sLogoSlider()
	// end sSave