mixin sExamplesBanner(data)
	// start sExamplesBanner
	+b.SECTION.sExamplesBanner#sExamplesBanner&attributes(attributes)
		.container
			.row
				.col-xl.col-lg-5.col.section
					+b.section-title-base
						h2 Хотите увидеть примеры выполненных проектов?
						p Оставьте свои контакты и&nbsp;мы&nbsp;пришлем Вам презентацию и&nbsp;закрепим за&nbsp;Вами персональную скидку
						+e.btn.btn.btn-primary(href="#") Получить презентацию и скидку
				.col-xl.col-lg-7
					+e.images
						+e.img-wrap
							+pic(`sExamplesBanner-1.jpg`, 'bg', 0)
						+e.img-wrap
							+pic(`sExamplesBanner-2.jpg`, 'bg', 0)
						+e.img-wrap
							+pic(`sExamplesBanner-3.jpg`, 'bg', 0)

	// end sExamplesBanner