extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	//- +header()
	//- +top-nav()

	//- +topLine()
	.container
		p 1
		.row
			.col-4
				img.res-i(src="img/@2x/webp/servise-bg.webp" alt="")
			.col-4
				img.res-i(src="img/@2x/avif/servise-bg.avif" alt="")
			.col-4
				img.res-i(src="img/@2x/servise-bg.jpg" alt="")
		+pic("servise-bg.jpg")
		.btn.btn-primary Подробнее

		.btn.btn-primary Подробнее
	+headerBlock()
	+sForm()
	+sContact()
	+footer()




