extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sWorkPackage/_sWorkPackage.pug
include ../blocks/sExamples/_sExamples.pug
include ../blocks/sExamplesBanner/_sExamplesBanner.pug
include ../blocks/sSave/_sSave.pug
include ../blocks/sPlan/_sPlan.pug
include ../blocks/sLeader/_sLeader.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	//- +header()
	//- +top-nav()
	//- +topLine()
	+headerBlock()
	+sCatalog()
	+sWorkPackage()
	+sExamples()
	+sExamplesBanner()
	+sSave()
	+sForm()
	+sPlan()
	+sLeader()
	+sContact()
	+footer()




