extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sExamples/_sExamples.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	//- +header()
	//- +top-nav()
	//- +topLine()
	+headerBlock()
	+sExamples()
	+sLogoSlider()
	+sLogoSlider()
	+sForm()
	+sContact()
	+footer()




