mixin sLeader(data)
	// start sLeader
	+b.SECTION.sLeader.section#sLeader&attributes(attributes)
		.container
			.row
				.col-lg-auto
					+e.heading
						.row
							.col-12.col-sm-6.col-lg-12
								+e.person
									+pic(`director.png`, 'bg', 0)
									h6 Сергей Щеткин
									.small Генеральный директор
							.col-12.col-sm-6.col-lg-12
								+e.contacts
									+e.link(href="tel:+79778144903") +7 (977) 814-49-03
										+icon('call-calling')
									+e.link(href="mailto:sshchetkin@dixten.ru") sshchetkin@dixten.ru
										+icon('email')
									+soc()
									+e.btn.btn.btn-primary(href="#") Отправить сообщение
				.col-lg
					+e.content
						h6 Приветствую! Меня зовут Сергей&nbsp;&mdash; и&nbsp;я&nbsp;отвечаю за&nbsp;то, чтобы&nbsp;Вы остались довольны сотрудничеством.
						p За&nbsp;12&nbsp;лет работы в&nbsp;сфере поставок и&nbsp;инсталляций профессионального оборудования для систем оповещения и&nbsp;трансляции, я&nbsp;точно знаю, чего&nbsp;Вы хотите.
						p #[span.strong 1. Сделать правильный выбор.] Вы&nbsp;хотите получить надежное оборудование с&nbsp;хорошим функционалом и&nbsp;по&nbsp;доступной цене. У&nbsp;нас более 25.000 единиц оборудования&nbsp;&mdash; подберем именно&nbsp;то, что Вам нужно.
						p #[span.strong 2. Сэкономить бюджет.] За счет наших эксклюзивных скидок у поставщиков и производителей мы предложим Вам более низкую цену, подберем более доступный аналог и обеспечим бесплатную доставку.
						p #[span.strong 3. Сохранить свое время.] Мы&nbsp;берем на&nbsp;себя все этапы &laquo;под ключ&raquo;: подбор, документация, согласования, доставка, монтаж, настройка, обучение, обслуживание. Ваши затраты времени на&nbsp;участие в&nbsp;решении задачи&nbsp;&mdash; минимальны.
						p #[span.strong 4. Быть довольным результатом.] После завершения проекта у&nbsp;Вас останутся только положительные эмоции, потому что один из&nbsp;приоритетов компании Дикстен (вместе с&nbsp;ответственностью и&nbsp;качеством)&nbsp;&mdash; сделать все, чтобы заказчик остался доволен результатом и&nbsp;сотрудничеством в&nbsp;целом.
						p Слева указан мой личный номер и&nbsp;мессенджеры&nbsp;&mdash; всегда готов лично прокомментировать и&nbsp;обсудить детали сотрудничества. Звоните!

	// end sLeader