mixin topLine()
	// start topLine
	+b.topLine.d-none.d-sm-block#topLine&attributes(attributes)
		.container
			.row.roww
				.col.d-none.d-lg-block
					+soc()
				.col-auto
					+e.text
						+icon("clock")
						| пн-пт: 9.00 - 18.00
						
				.col-auto
					+e.text(href="mailto:zakaz@ya-muzykant.ru")
						+icon("email")
						.d-none.d-lg-inline zakaz@ya-muzykant.ru
				.col-auto
					+e.text(href="tel:+7(499)704-02-80")
						+icon("call-calling")
						.d-none.d-lg-inline +7 (499) 704-02-80

				.col-lg-auto.col.text-end
					+e.btn(href="#") Заказать звонок
	// end topLine